*
  margin: 0
  padding: 0
  box-sizing: border-box
  outline: none
html
  height: 100%
body
  --background: #446
  --foreground: #eee
  --bgdarker: rgba(0,0,0,0.9)
  font-family: 'TypoPRO Fira Code', sans-serif
  font-size: 13px
  line-height: 12px
  letter-spacing: 0px
  font-weight: normal
  color: var(--foreground)
  background: var(--background) url('https://firebasestorage.googleapis.com/v0/b/sonidos-podcast.appspot.com/o/80994.jpg?alt=media&token=303fa30b-177b-48af-8cbc-e745eb0e5ab6') no-repeat center
  background-size: cover
  height: 100vh
  overflow: hidden
  position: relative
.background-video
  position: absolute
  top: 0
  left: 0
  height: 100vh
  object-fit: contain
.app
  height: 100%
  display: grid
  position: relative
  grid-template-areas: "messages display" "header header"
  grid-template-rows: calc(100% - 70px) 70px
  grid-template-columns: 400px 1fr
::-webkit-scrollbar
  width: 10px
::-webkit-scrollbar-track
  background: transparent
::-webkit-scrollbar-thumb
  background: var(--bgdarker)

@media only screen and (max-width: 1000px)
  .interest
    font-size: 0.70em
  .app
    height: 100%
    display: grid
    grid-template-areas: "display" "messages" "header"
    grid-template-rows: 50% calc(50% - 70px) 70px
    grid-template-columns: 1fr
