<!doctype html>
<html>
  <head>
    <title>El Podcast DEV [LIVE]</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/styles/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <section id="app" class="app">
      <header class="header">
        <span class="branding">
          <img src="https://cdn.simplecast.com/images/20122399-3919-4089-b540-10f66a258c04/8734f16b-187a-41cb-9a6f-34ff0f2ee6c5/640x640/1551986909artwork.jpg" />
        </span>
        <div class="audio">
          <i class="material-icons" @click="playPause" v-show="!isPlaying">play_arrow</i>
          <i class="material-icons" @click="playPause" v-show="isPlaying">pause</i>
          <input type="range" min="0" max="100" v-model="volume" />
          <i class="material-icons" @click="mute" v-show="volume!==0">volume_up</i>
          <i class="material-icons" @click="mute" v-show="volume===0">volume_off</i>
          <audio controls ref="elPlayer">
            {{vol}}
            <!-- <source src="https://www.myinstants.com/media/sounds/trollolol.swf.mp3" type="audio/mp3"> -->
            <source src="http://188.165.240.90:8292/stream" type="audio/mp3">
            Your browser does not support the audio tag.
          </audio>
        </div>
        <div class="opts">
          <i class="material-icons" @click="logout" v-show="username">exit_to_app</i>
          <i class="material-icons" @click="clearChat">clear</i>
        </div>
      </header>
      <div class="messages">
        <div class="messagesHolder">
          <div class="message" v-for="message in messages">{{message}}</div>
        </div>
      </div>
      <form @submit.prevent="submit" class="elform" v-if="username">
        {{username}}<input id="m" autocomplete="off" v-model="message" placeholder="Mensage" /><button>Send</button>
      </form>
      <form @submit.prevent="setName" class="elform" v-if="!username">
        Cual es tu nombre?
        <input id="m" autocomplete="off" v-model="nickname" placeholder="Tu nickname" /><button>Entrar</button>
      </form>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/scripts/app.js"></script>
  </body>
</html>
