<!doctype html>
<html>
  <head>
    <title>El Podcast DEV [LIVE]</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="/styles/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  </head>
  <body>
    <section id="app" class="app">
      <header class="header">
        <span class="branding">
          <img src="https://cdn.simplecast.com/images/20122399-3919-4089-b540-10f66a258c04/8734f16b-187a-41cb-9a6f-34ff0f2ee6c5/640x640/1551986909artwork.jpg" />
        </span>
        <div class="audio">
          <div class="player">
            <span class="toolTip bottom" v-show="!isPlaying">
              <i class="material-icons" @click="playPause">play_arrow</i>
              <span class="toolTipText">Play</span>
            </span>
            <span class="toolTip bottom" v-show="isPlaying">
              <i class="material-icons" @click="playPause">pause</i>
              <span class="toolTipText">Pausa</span>
            </span>
            <input type="range" min="0" max="100" v-model="volume"/>
            <span class="toolTip bottom" v-show="parseInt(volume, 10)!==0">
              <i class="material-icons" @click="mute" >volume_up</i>
              <span class="toolTipText">Silenciar</span>
            </span>
            <span class="toolTip bottom" v-show="parseInt(volume, 10)===0">
              <i class="material-icons" @click="mute">volume_off</i>
              <span class="toolTipText">Activar Volumen</span>
            </span>
            <audio controls ref="elPlayer">
              <source src="http://188.165.240.90:8292/stream" type="audio/mp3">
              Your browser does not support the audio tag. {{vol}}
            </audio>
          </div>
          <span class="status">{{status}}</span>
        </div>
        <div class="opts">
          <span class="toolTip left-bottom">
            <i class="material-icons" @click="logout" v-show="username">exit_to_app</i>
            <span class="toolTipText">Cambiar Nombre</span>
          </span>
          <span class="toolTip left-bottom">
            <i class="material-icons" @click="clearChat">clear</i>
            <span class="toolTipText">Borrar Chat</span>
          </span>
        </div>
      </header>
      <div class="interest">
        <a target="_blank" href="https://elpodcast.dev">ElPodcast.DEV</a>&nbsp;|&nbsp;
        <a target="_blank" href="https://twitter.com/_elpodcast">@_elpodcast</a>&nbsp;|&nbsp;
        <a target="_blank" href="https://twitter.com/swanros">@swanros</a>&nbsp;|&nbsp;
        <a target="_blank" href="https://twitter.com/zerodragon">@zerodragon</a>&nbsp;|&nbsp;
        <a target="_blank" href="https://www.patreon.com/elpodcastdev">El Patreon</a>
      </div>
      <div class="messages">
        <div class="messagesHolder">
          <div
            :key="itm.uid"
            :class="'message ' + itm.username"
            v-for="itm in messages"
          >
            <span v-if="itm.username !== 'SYSTEM'">{{itm.username}}: </span>{{itm.message}}
            <i class="material-icons" @click="clearMessage(itm.uid)">delete_forever</i>
          </div>
        </div>
      </div>
      <form @submit.prevent="submit" class="elform" v-if="username">
        <input
          autocomplete="off"
          v-model="message"
          :placeholder="username + ':'"
          @keyup.arrow-keys="navigateHistory"
          @paste="pasting"
          ref="textInput"
        />
        <button>Enviar</button>
      </form>
      <div class="sendImg" v-if="tmpImg">
        <img :src="tmpImg"/>
        <div class="btns">
          <div class="btn send" @click="sendImg">Enviar</div>
          <div class="btn cancel" @click="tmpImg=null">Cancelar</div>
        </div>
      </div>
      <div class="imagesHistory">
        <img
          :class="image.seen ? 'seen' : ''"
          :src="image.blob"
          :key="image.uid"
          v-for="image in images"
          @click="image.seen = true; displayImage = image.blob"
        />
      </div>
      <div class="modal" v-if="displayImage" @click="toText(); displayImage=null">
        <div class="background"></div>
        <img
          class="loginWindow"
          :src="displayImage"
        />
      </div>
      <div class="modal" v-if="!username"><div class="background"></div>
        <form @submit.prevent="setUsername" class="loginWindow">
          Por favor indica tu nombre de usuario
          <div>
            <input v-model="loginUserName" /><button>Entrar</button>
          </div>
        </form>
      </div>
    </section>
    <script src="/scripts/app.js"></script>
  </body>
</html>
