* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  height: 100%;
}
body {
  --background: #446;
  --foreground: #eee;
  --bgdarker: #224;
  font-family: sans-serif;
  font-weight: 300;
  color: var(--foreground);
  background-color: var(--background);
  height: calc(100% - 25px);
}
.app {
  display: grid;
  grid-template-areas: "header" "interest" "messages" "form";
  grid-template-rows: 70px 30px calc(100% - 80px) 50px;
  grid-template-columns: 1fr;
  height: calc(100% - 50px);
}
.elform {
  padding: 10px;
  display: flex;
  grid-area: form;
  align-items: center;
}
.elform span {
  cursor: pointer;
}
.interest {
  grid-area: interest;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.interest a {
  color: var(--foreground)
}
form input {
  border: 0;
  padding: 10px;
  flex-grow: 1;
  margin-right: 10px;
}
form button {
  border: none;
  padding: 10px;
  background-color: var(--bgdarker);
  color: var(--foreground);
}
.messages {
  max-width: 100vw;
  grid-area: messages;
}
.messages .messagesHolder {
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
}
.messages .message {
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3em;
  min-height: 1.3em;
  position: relative;
}
.messages .message i {
  position: absolute;
  right: 0;
  top: 4px;
  font-size: 0.8em;
  cursor: pointer;
  display: none;
}
.messages .message:hover i {
  display: inline;
}
.messages .message.SYSTEM {
  opacity: 0.5;
  font-size: 0.8em;
  line-height: 1.1em;
  min-height: 1.1em;
  font-style: italic;
  text-align: right;
}
.messages .message.SYSTEM i {
  display: none;
}
.messagesHolder {
  height: 100%;
  overflow: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--bgdarker);
  box-shadow: 0 0 10px 0 var(--bgdarker);
  color: var(--background);
  grid-area: header;
}
.branding {
  display: flex;
  align-items: center;
}
.header img {
  height: 50px;
  margin-right: 5px;
}
.header i:hover {
  cursor: pointer;
  color: var(--foreground);
}
.header .opts {
  white-space: nowrap;
}
.audio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.audio .player {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.audio .status {
  font-size: 0.8em;
  text-align: center;
}
.audio audio {
  display: none;
}
.modal, .modal .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .background {
  background-color: var(--background);
  opacity: 0.8;
}
.modal .loginWindow {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}
.modal img {
  box-shadow: 0 0 10px 0 var(--bgdarker);
}
.modal .loginWindow div {
  display: flex;
  margin-top: 10px;
}
.sendImg {
  position: absolute;
  bottom: 70px;
  left: 20px;
}
.sendImg img, .imagesHistory img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border: none;
  border-radius: 4px;
  background-color: var(--bgdarker);
  border: 1px solid var(--foreground);
  cursor: pointer;
}
.sendImg .btns {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.sendImg .btn {
  width: 40%;
  color: var(--foreground);
  background-color: var(--bgdarker);
  font-size: 0.8em;
  padding: 10px 0;
  border-radius: 4px;
  border: 1px solid var(--foreground);
  text-align: center;
  cursor: pointer;
  transition: background-color 500ms linear;
}
.sendImg .btn:hover {
  background-color: var(--background);
}
.sendImg .btn.send {
  background-color: var(--background);
}
.sendImg .btn.send:hover {
  background-color: var(--bgdarker);
}
.imagesHistory {
  position: absolute;
  bottom: 55px;
  top: 70px;
  left: 5px;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
}
.imagesHistory img {
  width: 10px;
  height: 100px;
  margin-top: 5px;
}
.imagesHistory img:hover {
  width: 100px;
}
.imagesHistory img.seen {
  border: 1px solid transparent;
}

.toolTip {
  position: relative;
}
.toolTipText {
  position: absolute;
  padding: 5px 10px;
  background-color: #000;
  border-radius: 4px;
  color: var(--foreground);
  font-size: 0.7em;
  cursor: default;
  opacity: 0;
  z-index: -100;
  transition: opacity 100ms linear;
  white-space: nowrap;
}
.toolTip:hover .toolTipText{
  opacity: 1;
  z-index: inherit;
}
.toolTip.bottom .toolTipText {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.toolTip.left-bottom .toolTipText {
  top: 100%;
  right: 0;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--bgdarker);
}

/* shameless range css copy/pasted */
input[type=range] {
  -webkit-appearance: none;
  margin: 0 10px;
  width: 100px;
  cursor: pointer;
  --thumbWidth: 16px;
  --thumbHeight: 30px;
  --trackHeight: 8px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: var(--background);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px var(--bgdarker), 0px 0px 1px var(--bgdarker);
  border: 1px solid var(--bgdarker);
  width: var(--thumbWidth);
  height: var(--thumbHeight);
  border-radius: 3px;
  background: var(--background);
  -webkit-appearance: none;
  margin-top: calc(
    -1 *
    calc(var(--thumbHeight) - calc(var(--thumbHeight) / 1.6))
  );
  transition: background-color 500ms linear;
}
input[type=range]:hover::-webkit-slider-thumb {
  background: var(--foreground);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: --trackHeight;
  background: var(--background);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px var(--bgdarker), 0px 0px 1px var(--bgdarker);
  border: 1px solid var(--bgdarker);
  width: var(--thumbWidth);
  height: var(--thumbHeight);
  border-radius: 3px;
  background: var(--foreground);
}
input[type=range]::-ms-track {
  width: 100%;
  height: --trackHeight;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: var(--background);
  border: 0.2px solid var(--bgdarker);
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px var(--bgdarker), 0px 0px 1px var(--bgdarker);
}
input[type=range]::-ms-fill-upper {
  background: var(--background);
  border: 0.2px solid var(--bgdarker);
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px var(--bgdarker), 0px 0px 1px var(--bgdarker);
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px var(--bgdarker), 0px 0px 1px var(--bgdarker);
  border: 1px solid var(--bgdarker);
  width: var(--thumbWidth);
  height: var(--thumbHeight);
  border-radius: 3px;
  background: var(--foreground);
}
input[type=range]:focus::-ms-fill-lower {
  background: var(--background);
}
input[type=range]:focus::-ms-fill-upper {
  background: var(--background);
}

@media only screen and (max-width: 600px) {
  .interest {
    font-size: 0.70em;
  }
}
