* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  height: 100%;
}
body {
  --background: #446;
  --foreground: #eee;
  --bgdarker: #224;
  font-family: sans-serif;
  color: var(--foreground);
  background-color: var(--background);
  height: calc(100% - 25px);
}
.app {
  display: grid;
  grid-template-areas: "header" "messages" "form";
  grid-template-rows: 70px calc(100% - 50px) 50px;
  grid-template-columns: 1fr;
  height: calc(100% - 50px);
}
.elform {
  padding: 10px;
  display: flex;
  grid-area: form;
  align-items: center;
}
.elform span {
  cursor: pointer;
}
.elform input {
  border: 0;
  padding: 10px;
  flex-grow: 1;
  margin: 0 10px;
}
.elform button {
  border: none;
  padding: 10px;
}
.messages {
  max-width: 100vw;
}
.messages .messagesHolder {
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
}
.messages .message:nth-child(even) {
  background: var(--bgdarker);
  grid-area: messages;
}
.messages .message {
  min-height: 40px;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}
.messagesHolder {
  height: 100%;
  overflow: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--bgdarker);
  box-shadow: 0 0 10px 0 var(--bgdarker);
  color: var(--background);
  grid-area: header;
}
.branding {
  display: flex;
  align-items: center;
}
.header img {
  height: 50px;
  margin-right: 5px;
}
.header i:hover {
  cursor: pointer;
  color: var(--foreground);
}
.audio {
  display: flex;
  align-items: center;
}
.audio audio {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background: var(--bgdarker);
}

/* shameless range css copy/pasted */
input[type=range] {
  -webkit-appearance: none;
  margin: 0 10px;
  width: 100px;
  cursor: pointer;
  --thumbWidth: 16px;
  --thumbHeight: 36px;
  --trackHeight: 8px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: var(--background);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px var(--bgdarker), 0px 0px 1px var(--bgdarker);
  border: 1px solid var(--bgdarker);
  width: var(--thumbWidth);
  height: var(--thumbHeight);
  border-radius: 3px;
  background: var(--background);
  -webkit-appearance: none;
  margin-top: -14px;
  transition: background-color 500ms linear;
}
input[type=range]:hover::-webkit-slider-thumb {
  background: var(--foreground);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: --trackHeight;
  background: var(--background);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px var(--bgdarker), 0px 0px 1px var(--bgdarker);
  border: 1px solid var(--bgdarker);
  width: var(--thumbWidth);
  height: var(--thumbHeight);
  border-radius: 3px;
  background: var(--foreground);
}
input[type=range]::-ms-track {
  width: 100%;
  height: --trackHeight;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: var(--background);
  border: 0.2px solid var(--bgdarker);
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px var(--bgdarker), 0px 0px 1px var(--bgdarker);
}
input[type=range]::-ms-fill-upper {
  background: var(--background);
  border: 0.2px solid var(--bgdarker);
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px var(--bgdarker), 0px 0px 1px var(--bgdarker);
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px var(--bgdarker), 0px 0px 1px var(--bgdarker);
  border: 1px solid var(--bgdarker);
  width: var(--thumbWidth);
  height: var(--thumbHeight);
  border-radius: 3px;
  background: var(--foreground);
}
input[type=range]:focus::-ms-fill-lower {
  background: var(--background);
}
input[type=range]:focus::-ms-fill-upper {
  background: var(--background);
}
