<!DOCTYPE html>
html(lang="es")
  head
    title El Podcast DEV [LIVE]
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='/styles/styles.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1')
  body
    section#app.app
      appheader
      interests
      messages
      messagefield

      imagepreview
      loginmodal
    script(src='/scripts/vendors.js')
    script(src='/scripts/bundle.js')
