<!DOCTYPE html>
html(lang="es")
  head
    title El Podcast DEV [LIVE]
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap" rel="stylesheet")
    link(rel='stylesheet' href='/styles/styles.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1')

    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#222244")
    meta(name="msapplication-TileColor" content="#222244")
    meta(name="theme-color" content="#222244")

  body
    video(src="https://static.videezy.com/system/resources/previews/000/039/599/original/4K_2.mp4" loop autoplay playsinline muted).background-video
    section#app.app
      messages
      media
      appheader
      imagepreview
      loginmodal
    script(src='/scripts/vendors.js')
    script(src='/scripts/bundle.js')
